@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div>
        <h3>To Age</h3>
        <p>
            1990, 01, 01 = 
            @(new DateTime(1990, 01, 01).ToAge().ToString())
        </p>
        <p>
            1987, 05, 07 = 
            @(new DateTime(1987, 05, 07).ToAge().ToString())
        </p>
        <p>
            1975, 10, 10 = 
            @(new DateTime(1975, 10, 10).ToAge().ToString())
        </p>
    </div>
    <div>
        <h3>To Digits Only</h3>
        <p>
            abc123 =
            @("abc123".ToDigitsOnly())
        </p>
        <p>
            z1x2c3v4 =
            @("z1x2c3v4".ToDigitsOnly())
        </p>
        <p>
            #$ss223%^ =
            @("#$ss223%^".ToDigitsOnly())
        </p>
    </div>
    @Html.BootstrapModalWindow()
</div>